$primary-color: #7b00e0;
$primary-dark-color: #6200b3;
$primary-light-color: #ad96c0;

$secondary-color: #f0f0f0;

$main-background-color: #1c2c1e;
$secondary-background-color: #38573c;
$info-block-background-color: #c2b9e62e;

$answer-right: #4caf50;
$answer-error: #f30;
$answer-right-bg: #4caf4f4f;
$answer-error-bg: #ff330057;

$white-color: #fff;
$answer-hover-color: #55555567;

$hidden-word-bg: #7fbdf7;
$color-card-hover: #adcbff70;
$black-color: #000;

$green-color: #3fd18f;
$red-color: #f30;
$orange-color: #fd8642;
$input-text-color: #456d52;
