@import '../../styles-global/index.module';

.BirdFullInfo {
  @extend %buttons-border;
  background-color: $info-block-background-color;
  box-sizing: border-box;
  padding: 10px;
  width: 67%;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__headers {
    margin: 0 10px;
    width: calc(100% - 170px);
  }

  &__header {
    margin: 20px 0 5px;
  }
}
