@import '../../styles-global/index.module';

.AnswerBird {
  @extend %buttons-border;

  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;

  height: 40px;
  justify-content: center;
  margin-bottom: 10px;
  position: relative;
  user-select: none;
  width: 100%;

  &__indicator {
    border: 1px solid;
    border-radius: 50%;
    height: 10px;
    left: 10px;
    position: absolute;
    top: 14px;
    width: 10px;
  }

  &-right {
    background-color: $answer-right-bg;
    border-color: $answer-right;
  }

  &-error {
    background-color: $answer-error-bg;
    border-color: $answer-error;
  }

  &:hover {
    background-color: $answer-hover-color;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
