@import '../../styles-global/index.module';

.QuestionBlock {
  @extend %buttons-border;

  background-color: $info-block-background-color;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  min-height: 150px;
  padding: 20px;

  &__headers {
    margin: 0 10px;
    width: calc(100% - 170px);
  }

  &__header {
    font-size: 3rem;
  }
}
